:root {
    --grey: rgb(128, 128, 128);
    --purple: rgb(75, 0, 130);
    --blue: rgb(0, 51, 119);
    --green: rgb(46, 139, 87);
    --yellow: rgb(255, 215, 0);
    --orange: rgb(255, 140, 0);
    --red: rgb(185, 0, 20);
    --pink: rgb(213, 0, 102);
}
